<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "camera.png" %>
  </div>
  
  <div id="content">
    <h1>Acerca de <strong>Share Your Picture</strong></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ex iaculis nulla laoreet tempor vel sit amet eros. Nullam facilisis ultrices enim, eget mattis nisl iaculis nec. Maecenas maximus nisi ligula. Proin et risus lacinia, varius nisi volutpat, ultricies metus. Nunc mollis rutrum massa, vel maximus lorem malesuada sit amet. Sed et eros neque. Fusce tincidunt tempor ligula, sit amet egestas urna varius quis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ex iaculis nulla laoreet tempor vel sit amet eros. Nullam facilisis ultrices enim, eget mattis nisl iaculis nec. Maecenas maximus nisi ligula. Proin et risus lacinia, varius nisi volutpat, ultricies metus. Nunc mollis rutrum massa, vel maximus lorem malesuada sit amet. Sed et eros neque. Fusce tincidunt tempor ligula, sit amet egestas urna varius quis.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ex iaculis nulla laoreet tempor vel sit amet eros. Nullam facilisis ultrices enim, eget mattis nisl iaculis nec. Maecenas maximus nisi ligula. Proin et risus lacinia, varius nisi volutpat, ultricies metus. Nunc mollis rutrum massa, vel maximus lorem malesuada sit amet. Sed et eros neque. Fusce tincidunt tempor ligula, sit amet egestas urna varius quis.</p>
    <p>For more information link to our fan page in facebook.com <a href="#"> SYP</a>.</p>
  </div>

</div>